doctype html
html(lang="en")
    body
        h1 Dear #{name},

        p.
            Jade is a terse and simple templating language with a
            strong focus on performance and powerful features.


